<html>
<head>
<title>Authentication</title>
</head>
<body><BR>
<center>
<form action = "/add" method = "POST">
<a href = "/" style = "color:grey;text-decoration:none;"><h1>GreyEarl</h1></a>
<input type = "text" style = "width:500px;height:50px;" name = "number" placeholder = "Number"><BR><BR>
<input type = "text" style = "width:500px;height:50px;" name = "link" placeholder = "Link" ><BR><BR>
<input type = "text" style = "width:500px;height:50px;" name = "name" placeholder = "Name"><BR><BR>
<input type = "text" style = "width:500px;height:50px;" name = "downloadLink" placeholder = "Download Link"><BR><BR>
<input type = "submit" value = "Add Episode" style = "width:245px;height:50px;">
<input type = "reset" value = "Reset" style = "width:245px;height:50px;"><BR><BR>
</center>
</form>
</body>
</html>